


 .container {
      width: 400px;
	
      padding: 20px;
      border: 2px solid black;
      border-radius: 10px;
      text-align: center;
      margin: 50px auto;
    }

  
    .red,
    .green,
    .yellow {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: inline-block;
      margin: 10px;
    }

    /* Individual colors */
    .red {
      background-color: red;
    }

    .green {
      background-color: green;
    }

    .yellow {
      background-color: yellow;
    }